<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>#{pageTitleBean.title}</title>
    </h:head>
    <h:body>
    	<h:form>
    	   <h:outputText value="Nombre: " /><h:inputText value="#{personaBean.nombre}" /> <br />
    	   Apellido: <h:inputText value="#{personaBean.apellido}" /> <br />
    	   <h:outputText value="Edad: " /><h:inputText value="#{personaBean.edad}" /> <br />
    	   <h:commandButton value="Registrarme!" action="persona-informacion" /> <br />
    	</h:form>
    </h:body>
</html>