<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Title managment</title>
</h:head>
<h:body>
	<p>Actual title: #{pageTitleBean.title}</p>
	<h:form>
		Nuevo titulo: <h:inputText value="#{pageTitleBean.title}" />
		<br />
		<h:commandButton value="Cambiar titulo" action="title" />
	</h:form>
</h:body>
</html>